<div id="seriesNav">
  <a href="timeline.html?filter=series::{{series}}" title="article series {{series}}" class="seriesbtn btn btn-primary">{{series}}</a>
  <header class="seriesHeader">
{{#if series_previous_link}}
  <div id="seriesLeft">
    <a href="{{{series_previous_link}}}">
      <span class="glyphiconLinkSeries glyphicon glyphicon-chevron-left" aria-hidden="true" title="previous article in series"></span>
    </a>
  </div>
{{/if}}
{{#if series_next_link}}
  <div id="seriesRight">
    <a href="{{{series_next_link}}}">
      <span class="glyphiconLinkSeries glyphicon glyphicon-chevron-right" aria-hidden="true" title="next article in series"></span>
    </a>
  </div>
{{/if}}
  </header>
</div>